
@font-face {
    font-family: "inter";
    font-weight: 100;
    src: url(/src/font/Inter-Thin.ttf);
  }
  @font-face {
    font-family: "inter";
    font-weight: 200;
    src: url(/src/font/Inter-ExtraLight.ttf);
  }
  @font-face {
    font-family: "inter";
    font-weight: 300;
    src: url(/src/font/Inter-Light.ttf);
  }
  @font-face {
    font-family: "inter";
    font-weight: 400;
    src: url(/src/font/Inter-Regular.ttf);
  }
  @font-face {
    font-family: "inter";
    font-weight: 500;
    src: url(/src/font/Inter-Medium.ttf);
  }
  @font-face {
    font-family: "inter";
    font-weight: 600;
    src: url(/src/font/Inter-SemiBold.ttf);
  }
  @font-face {
    font-family: "inter";
    font-weight: 700;
    src: url(/src/font/Inter-Bold.ttf);
  }
  @font-face {
    font-family: "inter";
    font-weight: 800;
    src: url(/src/font/Inter-ExtraBold.ttf);
  }
  @font-face {
    font-family: "inter";
    font-weight: 900;
    src: url(/src/font/Inter-Black.ttf);
  }
  